* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #CCCCCC;
    background: #00a7f6;
}

header {
    padding: 20px 0;
    background: #00b7f6;
    border-bottom: #00a7f0;
}

.title {
    font-size:  25px;
    padding: 0 20px;
    color: #FFFFFF;
}

.title a {
    color: #FFFFFF;
}

.title:hover {
    color: #000000;
}

main {
    padding: 20px;
}

h1 {
    font-size: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
}

footer {
    padding: 20px 20px;
}

.copyright {
    font-size: 14px;
    color: #4F4F4F;
}